<html xmlns:th="https://thymeleaf.org"> 
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">	 
	 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
<head>
<meta charset="ISO-8859-1">
<title>My Cart</title>
</head>
<body>
<header>
<div class="tab">
    <nav class="navbar navbar-expand-md navbar-dark"
			style="background-color: #740074">
			<a href="" class="navbar-brand">Fashion Focus Boutique</a></nav>
			<div class="topnav-right">
			<a th:href="@{/productlist}" class="navbar-brand">Back</a>
			<a th:href="@{/}" class="navbar-brand">Log Out</a>
			</div>	
            </nav>
  </div>
</div>		
</header>
<a th:href="@{/product}" class="btn btn-primary btn-sm mb-3"> Add Cart </a>
<table id="example" class="table table-bordered" style="background-color: #fsfsfs">
<thead style="background-color: purple">
        <tr>
             <th style="color:white; font-size:14pt;"> Name </th>
             <th style="color:white; font-size:14pt;"> Price </th>
             <th style="color:white; font-size:14pt;"> Type </th>
             <th style="color:white; font-size:14pt;"> Size </th>
             <th style="color:white; font-size:14pt;"> Quantity </th>
             <th style="color:white; font-size:14pt;"> Fabric </th>
             <th style="color:white; font-size:14pt;"> Gender </th>
             <th style="color:white; font-size:14pt;"> Actions </th>
        </tr>
    </thead>
    <tbody> 
    <tr th:each="product, itemStat : *{allproduct}">
        <tr th:each="product : ${allproduct}">
              <td>
			  <img alt="" th:src="'data:images/jpg;base64,' + ${product.image}"
							style="width: 100px;"></td>				
               <td><span th:text="${product.name}"> Name </span></td>
               <td><span th:text="${product.price}"> Price </span></td>
               <td><span th:text="${product.type}"> Type </span></td>
               <td><span th:text="${product.size}"> Size </span></td>
               <td><span th:text="${product.quantity}">Quantity</span></td>
               <td><span th:text="${product.fabric}"> Fabric </span></td>
                <td><span th:text="${product.gender}"> Gender </span></td>
               <td> <a th:href="@{/update/{id}(id=${product.id})}" class="btn btn-primary">Update</a>
               <a th:href="@{/deleteproduct/{id}(id=${product.id})}" class="btn btn-danger">Click to In Active</a>
                    </td>
        </tr>
    </tbody>   
</table>